@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

li {
    list-style: none;
}

button {
    background: none;
    outline: none;
    border: 1px solid whitesmoke;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.4s ease;
    cursor: pointer;
}

button:hover {
    color: black;
    background: white;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
}

nav {
    max-width: 1100px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
}


nav li {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s ease;
    padding: 20px 0;
}

/* couleur du premier enfant li */
nav li:first-child {
    color: rgb(95, 4, 170);
}

/* création de la barre du haut */
nav li:first-child:before {
    content:"";
    position:absolute;
    width: 100%;
    height: 5px;
    background: rgb(95, 4, 170);
    transform: translateY(-20px); /* postionne en haut la barre sur l'axe vertical*/
}

nav li:hover:before {
    content:"";
    position:absolute;
    width: 100%;
    height: 5px;
    background: rgb(95, 4, 170);
    transform: translateY(-20px);
}

nav li:hover {
    transform:translate(5px);
}

nav li:last-child:before {
    /* Pour éviter  d'avoir la barre violette sur le dernier enfant*/
    background: none;
}

#language {
    background: rgba(128, 128, 128, 0.25);
    border-radius: 40px;
    padding: 4px 9px;
}

nav li:hover {
    color: grey
}

#language:hover {
    color: white;
    background-color: black;
}

.main-header {
    background: url(/assets/img/bg.jpg) fixed center/cover; /* toujours: "center/cover" pour centre une image */
    color:white;
    padding: 60px;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0 35px;
}

.main-header button {
    padding: 15px 30px;
    letter-spacing: 2px;
}

.main-header i {
    /* Pour décaler l'icon sur le coté */
    transform: translateX(5px);
}

.header-text {
    padding: 45px 0;
    max-width: 1100px;
    font-size:1.2rem;
    line-height: 3rem;
    margin: 0 auto;
}

#text {
    width: 100%;
    padding: 2rem;
    opacity: 0;
    transform: translateX(-200px);
    transition: 1s ease-in;
}
/*  */

.icon-part {
    background: black;
    padding: 65px 0;
    color: whitesmoke;
}

.icon-part-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin:0 auto;
}

#iconContainer {
    width: 100%;
    padding: 2rem;
    opacity: 0;
    transform: translateY(+400px);
    transition: 1s ease-in;
}

.lip-logo {
    margin-bottom: 30px;
}

.icon-part h3 {
    text-transform: uppercase;
    font-weight: 700;
}

.icon-part p {
    width: 80%;
    margin: 10px auto 20px;
}

.icon-part button {
    padding: 9px 32px;
}

.news-part {
    background: rgba(245, 245, 245, 0.8);
    padding: 85px 0 45px;
}

.header-news {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 1000px;
    margin: 0 auto;
}

#news {
    width: 100%;
    padding: 2rem;
    opacity: 0;
    transform: translateX(-200px);
    transition: 1s ease-in;
}

.left-part {
    line-height: 30px;
}

.left-part h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: left;
}

.left-part p {
    font-weight: 600;
    font-size: 0.9rem;
    text-align: left;
}

.right-part button {
    color:black;
    border-color: black;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.right-part button:hover {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.9);
}

.main-new-container {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: 45px auto;
}

.main-new-container > div {
    position: relative;
    max-width: 23%;
}

#newContainer {
    width: 100%;
    opacity: 0;
    transform: translateY(+400px);
    transition: 1.5s ease-out;
}

.mn-pic img {
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 10px #888;
}

.main-new-container h4 {
    margin: 15px 0;
    text-align: left;
}

.main-new-container p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 20px;
    margin-bottom: 45px;
}

.link {
    position: absolute;
    text-align: left;
    bottom: 0;
}

.main-news a {
    text-transform: uppercase;
    color: rgb(95, 4, 170);
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 900;
}

.main-news a:hover {
    color: rgb(180, 180, 1);
}

.main-news i {
    transform: translateX(5px);
}

.contact {
    padding: 65px 0 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    position: relative;
}

/* barre d'espacement */
.contact-list:after{
    content:"";
    position: absolute;
    width: 80%;
    height: 1px;
    background: rgb(228, 228, 228);
    bottom: -30px;
}

.contact-list .list {
    text-align: left;
    width: 24%;
}

#contact-img img{
    margin:0 auto;
    display: block;
}

.contact-list h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 15px;
}

#contactList {
    width: 100%;
    opacity: 0;
    transform: translateY(+400px);
    transition: 1.5s ease-out;
}

.infos-p li {
    margin: 15px 0;
}

.infos-p li:hover {
    transform:translate(3px);
    transition: 0.20s ease-out;
}

.list p {
    line-height: 22px;
    margin-bottom: 15px;
}

.list h6 {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.list .network {
    margin: 20px 0 8px;
}

.footer-logos i {
    font-size: 0.8rem;
    margin: 0 12px 30px 0;
}

.copyright {
    margin: 0;
}

.contact-medias {
    padding: 60px 0 15px;
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

#contactMedia {
    opacity: 0;
    transform: translateX(-200px);
    transition: 1.5s ease-out;
}

.medias-text h3{
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.medias-text p{
    font-size: 0.8rem;
}

.medias-logos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.medias-logos img {
    width: 60px;
}

/* FOOTER */

footer {
    background: black;
    color:whitesmoke;
    padding:25px;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 32px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 895px) {
    nav li {
        font-size: 0.7rem;
    }
    .main-header img {
        width: 60%;
    }
    .contact-list .list {
        padding-left: 15px;
    }
    .medias-logos img {
        width: 40px;
    }
    footer ul {
        flex-wrap: wrap;
    }
    footer li {
        margin: 5px;
    }
    
}
@media screen and (max-width: 704px) {
    nav li {
        display: none;
    }
    .icon-part-container {
        display: block;
    }
    .icon-part {
        padding: 0 0 30px;
    }
    .list-icon-part {
        margin-top: 40px;
    }
    .header-news {
        display: block;
    }
    .left-part {
        width: 100%;
    }
    .left-part h2 {
        text-align: center;
    }
    .left-part p {
        text-align: center;
        margin-bottom: 10px;
    }
    .main-new-container {
        display: block;
    }
    .main-new-container div {
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        margin-top: 58px;
    }
    .main-new-container img {
        width: 50%;
    }
    .contact {
        display: none;
    }
}